:local(.Loading) {
  border: var(--grey-border);
  box-shadow: var(--grey-box-shadow);
  border-radius: var(--box-border-radius);
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  text-align: center;
}

@media (min-width: 800px) {
  :local(.CardList) {
    display: flex;
    flex-wrap: wrap;
  }
}
