:local(.NoPosts),
:local(.PostList) {
  border: var(--grey-border);
  box-shadow: var(--grey-box-shadow);
  border-radius: var(--box-border-radius);

}

:local(.NoPosts) {
  padding: var(--spacing);
  text-align: center;
}

:local(.PostList) {
  padding: calc(var(--spacing) * 2) var(--spacing);
}
