:local(.NoPosts),
:local(.PostList) {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
}

:local(.NoPosts) {
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
:local(.PostList) {
  padding: 40px 20px;
}
